<div id="foot">
<div class="footfenge"></div>
<table width="98%" border="0" cellspacing="0" height="104" cellpadding="0" align="center">
  <tr>
    <td width="30%" align="center"><img src="$skinpath$/images/cxt.gif" /><br /><a href="http://gaylkj688.cn.alibaba.com" title="进入阿里巴巴诚信通网站" target="_blank" class="bold">阿里巴巴诚信通会员</a></td>
    <td align="left">
    <p>版权所有：广博软件开发有限公司 网站ICP备案号：<a href="http://www.miibeian.gov.cn">粤ICP备10074072号</a></p>
    <p>联系电话：+86-13926219163,+86-15918488939 传真号码：+86-20-39977130</p>    
    <p>详细地址：广州市番禺区迎宾路龙美新区 <a href="/admin/login.asp">后台管理</a>&nbsp;<script src="http://s81.cnzz.com/stat.php?id=1821212&web_id=1821212" language="JavaScript"></script></p>
    </td>
  </tr>
</table>

</div>