$head$
<script src="$skinpath$/js/easySlider.js" type="text/javascript"></script>
<!--left-->
<div id="content">
<div id="left">
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/prodcuts.asp" title="所有$cityname$游戏机产品">产品分类</a>&nbsp;&nbsp;<span>Classify</span></div>
    </div>
    <div class="classlist">
    <ul>   
    $产品分类$
    </ul>
    </div>
    <p><a href="gbook.$weburlext$" title="购买批发各类游戏机，点这里联系$cityname$"><img src="$skinpath$/images/message.gif" /></a></p>
    
    <div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/news.asp" title="$cityname$最新的动态，游戏机出售情况">公司动态</a>&nbsp;&nbsp;<span>NEWS</span></div>
    </div>
    <div class="classlist">
    <ul>
   $公司动态$
    </ul>
    </div>
    
     <div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/jishu.asp" title="$cityname$各类游戏机的技术资料，使用说明">技术资料</a>&nbsp;&nbsp;<span>Technical</span></div>
    </div>
    <div class="classlist">
    <ul>
    $技术资料$
    </ul>
    </div>
     <p><a href="/contact.$weburlext$" title="在线联系$cityname$游戏机供应公司"><img src="$skinpath$/images/contact.gif" /></a></p>
</div>

<!--right-->
<div id="right">
	<div class="fenge"></div>
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/intro.$weburlext$" title="查看$cityname$的详细介绍">公司介绍</a>&nbsp;&nbsp;<span>About</span></div>
    </div>
    <div class="introindex">$公司介绍$
<a href="/intro.$weburlext$" title="点击查看详细的介绍">[ 查看详细 ]</a></div>
<div class="fenge"></div>
  	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/products.asp" title="推荐的游戏机产品">推荐产品</a>&nbsp;&nbsp;<span>Recommended</span></div>
    </div>
    <div id="productstuijian">
    <span id="slider1prev"></span>
    <ul>
        $推荐产品$
    </ul>
     <span id="slider1next"></span>
    </div>
    
    <div class="fenge10"></div>
    
    <div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/products.asp" title="最新添加的游戏机产品">最新产品</a>&nbsp;&nbsp;<span>Latest</span></div>
    </div>
    <div class="products">
    <ul>
    	$最新产品$
       
    </ul>
    </div>
    
    <div class="fenge10"></div>
    
    <!--<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/contact.$weburlext$">联系我们</a>&nbsp;&nbsp;<span>Contact</span></div>
    </div>
    <div class="contact">
        <table width="98%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#cccccc">
          <tr>
            <td width="23%" align="right" height="23"><strong>公司名称：</strong>&nbsp;</td>
            <td width="45%" align="left" >&nbsp;广州市广博娱乐科技有限公司</td>
            <td width="32%" rowspan="8" valign="middle" align="center"><img src="$skinpath$/images/intro.gif" /></td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>省份/城市：</strong>&nbsp;</td>
            <td align="left">&nbsp;广东省广州市</td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>详细地址：</strong>&nbsp;</td>
            <td align="left">&nbsp;番禺区迎宾路龙美新区</td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>邮政编码：</strong>&nbsp;</td>
            <td align="left">&nbsp;511400 </td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>电话号码：</strong>&nbsp;</td>
            <td align="left">&nbsp;+86-20-39977130</td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>传真号码：</strong>&nbsp;</td>
            <td align="left">&nbsp;+86-20-39977130</td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>联系手机：</strong>&nbsp;</td>
            <td align="left">&nbsp;+86-13926219163,+86-15918488939
        </td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>联 系 人：</strong>&nbsp;</td>
            <td align="left">&nbsp;姚先生 总经理</td>
          </tr>
        </table>      
        
  </div>  --> 
    
</div>
</div>
$foot$
<script type="text/javascript">
<!--
$(document).ready(function(){	
$("#productstuijian").easySlider({
	auto: true,
	continuous: true,
	pause: 3000,
	controlsShow: false
});			
});	
//-->
</script>

</body>
</html>
