<div id="left">
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/products.asp" title="查看所有游戏机产品">产品分类</a>&nbsp;&nbsp;<span>Classify</span></div>
    </div>
    <div class="classlist">
    <ul>
   $getclass$
    </ul>
    </div>
    <p><a href="/gbook.$weburlext$" title="在线咨询游戏机"><img src="$skinpath$/images/message.gif" /></a></p>    
   
     <p><a href="/contact.$weburlext$" title="广州游戏机，麻将机供应，在线联系方式"><img src="$skinpath$/images/contact.gif" /></a></p>
</div>