$head$

<div id="content">
<!--left-->
$left$

<!--right-->
<div id="right">
	<div class="daohang">当前您的位置：<a href="/" title="返回广州娃娃机供应,广州摇摆机供应公司首页">首页</a> <a href="/news.asp" title="查看广州娃娃机供应,广州摇摆机供应相关信息咨询">信息动态</a> > 信息详细页</div>
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord">新闻详细页&nbsp;&nbsp;<span>News</span></div>
    </div>
    <div class="intro">
       <div class="infotitle">$news_title$</div>
       <hr />
       <div class="infomenu">来源：$news_ahome$&nbsp;浏览次数：<span class="red" id="viewnum"></span> 次&nbsp;发布人：$news_author$ 发布时间：$news_date$</div>
       <div class="infoContent">
       	$news_content$
       </div>
       <div class="infofoot">[ <a href="javascript:window.close();">关闭</a> ]&nbsp;[ <a href="javascript:history.back();">返回上一页</a>]</div>
    </div> 	
    
</div>
</div>
<script language="javascript">
getViewNum(0,$id$);
</script>
$foot$

</body>
</html>
