$head$

<div id="content">
<!--left-->
$left$

<!--right-->
<div id="right">
	<div class="daohang">当前您的位置：<a href="/" title="返回广州弹珠机供应,广州百家乐供应首页">首页</a> > 新闻动态</div>
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/news.asp" title="广州模拟机供应,广州亲子游戏机供应公司的所有新闻动态">新闻动态</a>&nbsp;&nbsp;<span>News</span></div>
    </div>
    <div class="intro">
        <div class="classlist">
        <ul>
       $getnews$
     
        </ul>
        </div>
       $pages$
    </div> 	
    
</div>
</div>
$foot$

</body>
</html>
