$head$

<div id="content">
<!--left-->
$left$

<!--right-->
<div id="right">
	<div class="daohang">当前您的位置：<a href="/" title="返回游戏电脑板,框体节目版游戏机供应公司首页">首页</a> > 产品展示</div>
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord">产品展示&nbsp;&nbsp;<span>Products</span></div>
    </div>   
        <div class="productslist">
    <ul>
    	$getproducts$ 
       
    </ul>
    </div>
       $pages$
   
</div>
</div>
$foot$

</body>
</html>
