.font {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt; color: #FFFFFF}
.footer {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt; color: #666699; text-decoration: none}
.navoff {  font-family: "宋体"; font-size: 9pt; font-weight: normal; color: #ffffff; cursor: hand}
.navactive {  font-family: "宋体"; font-size: 9pt; font-weight: normal; color: #FFFFFF; background-color: #cc6600; cursor: hand; text-decoration: none}
A:link {
	COLOR: #656565; TEXT-DECORATION: none; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 8pt
}
A:visited {
	COLOR: #336699; TEXT-DECORATION: none; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 8pt
}
A:active {
	COLOR: #ff0000; TEXT-DECORATION: none; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 8pt
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 8pt
}
BODY {
	SCROLLBAR-FACE-COLOR: #293863; 
	FONT-SIZE: 9pt;	



    scrollbar-face-color: #DEE3E7;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #DEE3E7;
    scrollbar-3dlight-color: #D1D7DC;
    scrollbar-arrow-color:  #006699;
    scrollbar-track-color: #EFEFEF;
    scrollbar-darkshadow-color: #98AAB1; 
	

	
}.newshead {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 9px; font-weight: bold; color: #FF9900}
.chinese {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 8pt; color: #000000}
.diaryhead {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 9pt; color: #ffffff}
.articlehead {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 9pt; color: #ff6600}
.download {

	BORDER-RIGHT: #333333 1px ridge;
	PADDING-RIGHT: 1px;
	BORDER-TOP: #ffffff 1px ridge;
	PADDING-LEFT: 1px;
	FONT-SIZE: 8pt;
	PADDING-BOTTOM: 1px;
	BORDER-LEFT: #ffffff 1px ridge;
	COLOR: #000000;
	PADDING-TOP: 1px;
	BORDER-BOTTOM: #000000 1px ridge;
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
	BACKGROUND-COLOR: #E1E1E1;
	cursor: auto;
}
SELECT {
	border:1px solid #C0C0C0; FONT-SIZE: 12px; FILTER: Alpha(Opacity=50); COLOR: #666666; FONT-FAMILY: "song", "MS Shell Dlg", "宋体"; BACKGROUND-COLOR: #F5F5F5
}
.textarea {
	border:1px solid #C0C0C0; padding:1px; FONT-SIZE: 12px; COLOR: #085878; FONT-FAMILY: "Verdana", "Arial", "宋体"; BACKGROUND-COLOR: #EFEFEF
}
.input {
	border:1px solid #666666; padding:1px; FONT-SIZE: 12px; COLOR: #085878; FONT-FAMILY: "Verdana", "Arial", "宋体"; HEIGHT: 18px; BACKGROUND-COLOR: #EFEFEF
}
.button {
	BORDER-RIGHT: #333333 1px ridge;
	PADDING-RIGHT: 1px;
	BORDER-TOP: #ffffff 1px ridge;
	PADDING-LEFT: 1px;
	FONT-SIZE: 9pt;
	PADDING-BOTTOM: 1px;
	BORDER-LEFT: #ffffff 1px ridge;
	COLOR: #000000;
	PADDING-TOP: 1px;
	BORDER-BOTTOM: #000000 1px ridge;
	FONT-FAMILY: "宋体";
	HEIGHT: 20px;
	BACKGROUND-COLOR: #f1f1f1;
	cursor: hand;
}.unnamed1 {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 8pt; color: #FF9A00}
.date {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 7pt; color: #C3C3C3}